{% extends "base.html" %}

{% block title %} Home Page {% endblock %}

{% block content %}

    <h1>List of Cupcakes</h1>

    <ul id="cupcake-list"></ul>
    
    <br>
    <form id="new-cupcake-form">
        <input type="text" id="flavor" name="flavor" placeholder="Flavor" required>
        <input type="text" id="size" name="size" placeholder="Size" required>
        <input type="number" id="rating" name="rating" placeholder="Rating" required>
        <input type="text" id="image" name="image" placeholder="Image URL (optional)">
        <button type="submit">Add Cupcake</button>
    </form>

{% endblock %}